* {
    font-family: sans-serif;;
    color:#CF2E2E;
}
body {
    background-color: #333A56;
    margin: 0px;
    /*position: fixed;*/
    overflow: hidden;
}

.header {
    margin: 0px;
    padding: 20px;
    top: 0px;
    left: 0px;
    float: left;
    width: 100%;
    height: auto;
    background-color: #F7F5E6;
    text-align: center;
}
.header > h2 {
    float: left;
    padding: 5px;
    margin: 0px;
    margin-left: 20px;
    display: inline;
    text-decoration: none;
    font-size: 40px;
    /*background-color: #22C12D;*/
}
.header > a {
    float: right;
    padding: 10px;
    margin: 10px;
    margin-left: 20px;
    margin-right: 50px;
    display: inline-block;
    background-color: #F7F5E6;
    border: 3px solid #333A56;
    border-radius: 6px;
    padding: 11px;
}
a {
    transition: background-color .75s;
    text-decoration: none;
    /*color: #000;*/
}
a:hover {
    background-color: #333A56;
}
.profile {
    width: 575px;
    height: auto;
    float: right;
}
ul > li {
    display: inline-block;
}
li > svg {
    fill: grey;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: solid 1px grey;
    padding: 4px;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
}
#description {
    float: left;
    margin: 30px;
    font-size: 29px;
}
.icons {
  /*margin: 100px auto;*/
  height: 0px;
  text-align: center;
  float: left;
  margin-left: 40px;
}

.icon {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 5px;
  border-radius: 50%;

  -webkit-transition: opacity .25s ease-in-out;

  background-size: 60%;
  background-position: center center;
  background-repeat: no-repeat;
}

.icon:hover {
    transition: background-color .75s;
    -webkit-animation: rotate 1s;
    animation: rotate 1s;
    background-color: #CF2E2E;
}
@-webkit-keyframes rotate {
    100% {-webkit-transform: rotate(360deg); -ms-transform: rotate(360deg);}
}
@keyframes rotate {
    100% {-webkit-transform: rotate(360deg); -ms-transform: rotate(360deg);}
}
.icon-m {
  background-image: url("mail.png");
  background-color: #333A56;
}
.icon-gh {
  background-image: url("github.png");
  background-color: #333A56;
}
